@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-formControl::before {
	border-color: #e58339 !important;
}

.MuiInputBase-formControl::after {
	border-color: #e58339;
}

.MuiFormControl-root > .Mui-focused {
	color: #e58339;
}

.hover-primary-menu:hover {
	background-color: #e58339 !important;
}

.truncate-3 {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media screen and (min-width: 640px) {
	.truncate-3 {
		-webkit-line-clamp: 7;
	}
}

@media screen and (min-width: 768px) {
	.truncate-3 {
		-webkit-line-clamp: 10;
	}
}

.carousel-root .slide > div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
}

.carousel-root .carousel.carousel-slider .control-arrow {
	background-color: rgba(0, 0, 0, 0.3);
	color: #e58339;
	height: 50px;
	top: calc(50% - 25px);
}
.carousel-root .carousel.carousel-slider .control-arrow::before {
	border-right-color: #e58339;
	border-left-color: #e58339;
}

.carousel-root .slide > div > p.legend {
	background-color: #e58339aa;
}

.carousel .slide img {
	max-height: 625px;
}
