@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-formControl::before {
	border-color: #e58339 !important;
}

.MuiInputBase-formControl::after {
	border-color: #e58339;
}

.MuiFormControl-root > .Mui-focused {
	color: #e58339;
}
